*{
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, .font-nunito{
  font-family: 'Nunito', sans-serif;
}
button{
  padding: 12px 22px !important;
}
.icn-font{
  font-size: 50px;
  color: #fe3ea5;
}
.text-color-gray{
  color: rgb(131, 131, 131);
}
.secondary-bg{
background-color: #fe3ea5;
}
.secondary-text{
  color: #fe3ea5;
}
.single-service:hover .text-hover{
  color: #fe3ea5;
}
.text-custom-color{
  color: #464646;
}
.bg-linear{
  background-image: linear-gradient(to right top, #f467b3, #f75eb0, #f955ac, #fc4aa9, #fe3ea5);
}
/* 
background-image: linear-gradient(to right top, #ed86bd, #f27ebc, #f675ba, #fb6bb8, #ff61b6);
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
secondary-color: #fe3ea5
primary-info-boot: #0dcaf0
*/